run = "streamlit run main.py" # <--- ADD THIS LINE HERE
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
# run = ["python3", "main.py"] # <--- YOU CAN COMMENT OUT OR REMOVE THIS LINE
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80
